@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Oswald:wght@200..700&family=Teko:wght@300..700&display=swap');

.project {
    width: 100%;
    height: 100vh;
    background: #ffffff;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    padding: 5%;
    position: relative;
}
.project.dark {
    background: #535353;
}
.title {
    width: 100%;
    color: black;
    text-align: center;
    margin-top: 3%;
    font-size: 80px;
    letter-spacing: 10px;
    transition: 0.5s;
}

.title.dark {
    color: #ffffff;
}

.project-container {
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin-top : 2%;
}

.project-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.input-box.dark {
    height: 50px;
    width: 50%;
    margin-top: 2%;
    box-shadow: 0 0 10px 4px rgba(214, 214, 214, 0.25);
    border-radius: 15px;
}

.input-box {
    height: 50px;
    width: 50%;
    margin-top: 2%;
    box-shadow: 0 0 10px 4px rgba(53, 53, 53, 0.25);
    border-radius: 15px;
}

.input-box.dark input {
    font-size: 22px;
    border-radius: 15px;
    background-color: #535353;
    border: 3px solid white;
    color: white;
    z-index: 1;
}

.input-box input {
    font-size: 22px;
    border-radius: 15px;
    padding-left: 2%;
    background-color: #ffffff00;
    border: 3px solid black;
    color: black;
    z-index: 1;
}

.suggestions {
    display: flex;
    flex-direction: column;
    background: white;
    position: relative;
    z-index: 2;
    border-radius: 0 0 15px 15px;
}

.input-box p {
    justify-content: center;
    padding-left: 2%;
    padding-top: 0.5%;
    height: 36px;
    color: black;
    font-size: 22px;
    background: white;
    cursor: pointer;
    border-radius: 15px;
}

.input-box p:hover {
    background: #f5f5f5;
}

.input-box.dark p {
    justify-content: center;
    padding-left: 2%;
    padding-top: 0.5%;
    height: 36px;
    color: black;
    font-size: 22px;
    background: white;
    cursor: pointer;
}

.input-box.dark p:hover {
    background: #f5f5f5;
}

.input-algorithm-box {
    width: 50%;
    height: 46px;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    transition: 0.5s;
}

.input-algorithm-box button {
    height: 46px;
    width: 200px;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #ffffff00;
    color: black;
    border : 3px solid black;  
    box-shadow: 0 0 10px 4px rgba(53, 53, 53, 0.25);
    border-radius: 20px 
}

.input-algorithm-box.dark button {
    box-shadow: 0 0 10px 4px rgba(233, 233, 233, 0.25);
    background-color: #ffffff00;
    color: white;
    border : 3px solid white;
}

.input-algorithm-box button:hover, button.active {
    background-color: black;
    color: white;
    transition: 0.5s;
}

.input-algorithm-box button.active {
    background-color: black;
    color: white;
    transition: 0.5s;
}

.input-algorithm-box.dark button:hover {
    background-color: white;
    color: #535353
}

.input-algorithm-box.dark button.active {
    background-color: white;
    color: #535353;
    transition: 0.5s;
}

.project-text {
    margin-top: 2%;
}

.project-text.dark h2{
    color: white;
}

.submit-box {
    height: 46px;
    width: 10%;
    margin-top: 2%;
    border-radius: 20px;
}

.submit-box button {
    height: 46px;
    width: 140px;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 10px 4px rgba(53, 53, 53, 0.25);
    background-color: #ffffff00;
    color: black;
    border: 3px solid black;
}

.submit-box.dark button {
    box-shadow: 0 0 10px 4px rgba(233, 233, 233, 0.25);
    background-color: #ffffff00;
    color: white;
    border : 3px solid white;
}

.submit-box button:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
}

.submit-box.dark button:hover {
    background-color: white;
    color: #535353;
}

.awal,
.akhir {
    width: 100%;
    height: 100%;
}

.project-result {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1001;
    background: #ffffff00;
    padding: 6%;
    animation: slide-up 0.5s ease-out;
}

@keyframes slide-down {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(100%);
      opacity: 0;
    }
  }
  
  .project-result.slide-down {
    animation: slide-down 0.5s ease-out forwards;
  }

@keyframes slide-up {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

.exit-button {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.exit-button button {
    cursor: pointer;
    font-size: 20px;
    height: 30px;
    width: 30px;
    border: none;
    margin-bottom: 1%;
    background: #ffffff00;
    color: black;
}

.exit-button button:hover {
    color: #535353;
}

.exit-button.dark button {
    color: white;
}

.exit-button.dark button:hover {
    color: black;
}

.result-box {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 3px solid black;
}

.result-box.dark {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 3px solid white;
}

.result-text {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background: rgba(182, 182, 182, 0.4);
    backdrop-filter: blur(10px);
    padding: 3%;
}

.result-text.dark {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background: rgba(111, 111, 111, 0.4);
    backdrop-filter: blur(10px);
}

.result-algorithm {
    height: 10%;
    font-size: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.result-algorithm.dark {
    border-bottom: 1px solid white;
    color: white;
}

.result-start-text {
    height: 10%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    text-transform: uppercase;
}

.result-start-text.dark {
    border-bottom: 1px solid white;
    color: white;
}

.result-path {
    height: 60%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    overflow: scroll;
}

.result-list {
    margin: 0;
}

.result-list li {
    margin-bottom: 1%;

}

.result-path.dark {
    border-bottom: 1px solid white;
    color: white;
}

.result-end-text {
    height: 10%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    text-transform: uppercase;
}

.result-end-text.dark {
    border-bottom: 1px solid white;
    color: white;
}

.result-time {
    height: 10%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.result-time.dark {
    color: white;
}